{% extends 'base.html' %} {% block content %}
<h2>Edit Contact</h2>
<form method="POST" id="editContactForm">
  <table border="1" id="contactTable">
    <thead>
      <tr>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="text"
            name="location"
            value="{{ contact.location }}"
            required
          />
        </td>
      </tr>
      <tr>
        <th>Contact Name</th>
        <th>Designation</th>
        <th>Email</th>
        <th>Email Size Threshold</th>
        <th>Jurisdiction</th>
      </tr>
      <tr class="contactRow">
        <td>
          <input
            type="text"
            name="contact_name"
            value="{{ contact.contact_name }}"
            required
          />
        </td>
        <td>
          <input
            type="text"
            name="contact_designation"
            value="{{ contact.contact_designation }}"
            required
          />
        </td>
        <td>
          <input
            type="email"
            name="contact_email"
            value="{{ contact.contact_email }}"
            required
          />
        </td>
        <td>
          <input
            type="number"
            name="email_threshold"
            value="{{ contact.email_size_threshold }}"
            required
          />
        </td>
        <td>
          <input
            type="text"
            name="jurisdiction"
            value="{{ contact.contact_jurisdiction }}"
            required
          />
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Hidden bank_id input field -->
  <input type="hidden" name="bank_id" value="{{ contact.contact_bank_slno }}" />
  <button type="submit">Update Contact</button>
</form>
{% endblock %}
